BTS _User _Mangement _API/Connected Services/EmailComposer/emailComposer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="queueEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logoUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentHeading" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mainText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hasProfile" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="profilePicUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileInfo" type="tns:ArrayOfProfileInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="actionLists" type="tns:ArrayOfActionList" />
            <s:element minOccurs="0" maxOccurs="1" name="detailHeading" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="detailList" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="recepientEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProfileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="profileInfo" type="tns:profileInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="profileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfActionList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="actionList" type="tns:actionList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="actionList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="queueEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="queueEmailSoapIn">
    <wsdl:part name="parameters" element="tns:queueEmail" />
  </wsdl:message>
  <wsdl:message name="queueEmailSoapOut">
    <wsdl:part name="parameters" element="tns:queueEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="emailComposerSoap">
    <wsdl:operation name="queueEmail">
      <wsdl:input message="tns:queueEmailSoapIn" />
      <wsdl:output message="tns:queueEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="emailComposerSoap" type="tns:emailComposerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queueEmail">
      <soap:operation soapAction="http://tempuri.org/queueEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="emailComposerSoap12" type="tns:emailComposerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queueEmail">
      <soap12:operation soapAction="http://tempuri.org/queueEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="emailComposer">
    <wsdl:port name="emailComposerSoap" binding="tns:emailComposerSoap">
      <soap:address location="http://184.107.228.154/emailComposer/emailComposer.asmx" />
    </wsdl:port>
    <wsdl:port name="emailComposerSoap12" binding="tns:emailComposerSoap12">
      <soap12:address location="http://184.107.228.154/emailComposer/emailComposer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>